.box {
  height: 150px;
  border-style: solid;
  border-width: 2px;
  border-color: #ff6e6e;
  font-weight: bold;
  font-size: 15px;
  padding-left: 40px !important;
  padding-top: 15px;
  padding-bottom: 15px;
}

.image-container {
  background-color: "black";
  max-height: 450px !important;
  margin-top: 60px;
  margin-bottom: 40px;
}

.textCSS {
  margin-left: 20%;
  margin-right: 20%
}

.webCSS {
  margin: 40;
}

.image-container img {
  max-width: 80%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.field-container {
  background-color: "black";
  max-height: 450px !important;
  margin-top: 60px;
  margin-bottom: 50px;
}

.field-container img {
  max-width: 80%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sam-container {
  background-color: "black";
  max-height: 450px !important;
  margin-top: 60px;
  margin-bottom: 30px;
}

.sam-container img {
  max-width: 60%;
  max-height: 90%;
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@media screen and {max-width: 600px} {
  textCSS {
    margin: 10;
  }
}
@media screen and {max-width: 600px} {
  image-container {
    background-color: "black";
    max-height: 150px !important;
  }
}
