@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

body {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-family: "Roboto Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
