@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amiri|Goudy+Bookletter+1911&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono" !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Goudy Bookletter 1911", serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
